<div class="postcodeInput">
  <div  >
    <h3 class="errorMessage" id="errorMessage"></h3>
  </div>
  <div >
    <h3 class="successMessage"  id="successMessage"></h3>
  </div>
  <form method="post" id="postcodeForm" >
    <p>
      <h2>Enter postcode to validate</h2>
    </p>
    <label for="postcode"> Post Code </label>
    <input  id="postcode" name="postcode" type="text"  placeholder="Enter Postcode"><br /> <br />
    <input  class="button" type="button" name="validate" id="validate" value="Validate">
  </form>
</div>
